---
layout: landing
og-title: Về Or!
---


<div class="decoration noise">
  {% include_relative /assets/svg/reeds_brother_dark.svg %}
  {% include_relative /assets/svg/reeds_older_brother_dark.svg %}
  {% include_relative /assets/svg/reeds.svg %}

</div>
<section class="content">
  <div id="landing-graph" class="title decoration">
    {% include_relative /assets/svg/logo-landing.svg %}
  </div>
  <nav class="navigator-container">
    <section class="category">
      <a class="tu" href='{{ "/tu/" | prepend: site.baseurl }}'>&lt;tậptọe /&gt;</a>
      <a class="to disable-text" href='{{ "/to/" | prepend: site.baseurl }}'>Ngàyhômnayyyyy.</a>
      <a class="whi" href='{{ "/whi/" | prepend: site.baseurl }}'>Làààààgì.</a>
      <a class="wh" href='{{ "/wh/" | prepend: site.baseurl }}'>Làmmmmmgì.</a>
    </section>
    <section class="policy">
      <a href='{{ "/th/" | prepend: site.baseurl }}' class="disable-text">Cảm ơn</a>
      <a href='{{ "/pr/" | prepend: site.baseurl }}' class="disable-text">Bảo mật</a>
      <a href='{{ "/li/" | prepend: site.baseurl }}' class="disable-text">Điều khoản </a>
    </section>
  </nav>
</section>
