---
layout: landing
---


<div class="decoration noise">
  {% include_relative /assets/svg/reeds_brother_dark.svg %}
  {% include_relative /assets/svg/reeds_older_brother_dark.svg %}
  {% include_relative /assets/svg/reeds.svg %}

</div>
<section class="content">
  <div id="landing-graph" class="title decoration">
    {% include_relative /assets/svg/logo-landing.svg %}
    <p class="literal mono-classic bold">
      <span>{!and}</span>
    </p>
  </div>
  <section class="subtitle mono-robo quiet">
    <p>
/**
 * Khó lắm, vào đây chơi chứ đừng học
 * @return creative mind
 */
    </p>
  </section>
  <nav class="mono-robo">
    <section class="policy hidden-sm">
      <a href='{{ "/th/" | prepend: site.baseurl }}'>Cảm ơn</a>
      <a href='{{ "/pr/" | prepend: site.baseurl }}'>Bảo mật</a>
      <a href='{{ "/li/" | prepend: site.baseurl }}'>Điều khoản </a>
    </section>
    <section class="">
      <a href='{{ "/tu/" | prepend: site.baseurl }}'>&lt;tậptọe /&gt;</a>
      <a href='{{ "/to/" | prepend: site.baseurl }}'>Ngàyhômnayyyyy.</a>
      <a href='{{ "/whi/" | prepend: site.baseurl }}'>Làààààgì.</a>
      <a href='{{ "/wh/" | prepend: site.baseurl }}'>Làmmmmmgì.</a>
    </section>
  </nav>
</section>
