---
layout: landing
---


<div class="decoration">
  {% include_relative /assets/svg/reeds_brother_dark.svg %}
  {% include_relative /assets/svg/reeds_older_brother_dark.svg %}
  {% include_relative /assets/svg/reeds.svg %}
  <div class="noise"></div>
</div>
<section class="content">
  <div id="landing-graph" class="decoration">
    {% include_relative /assets/svg/or_geom.svg %}
  </div>
  <nav class="hidden-md">
    <a href='{{ "/tu/" | prepend: site.baseurl }}'>hướngdẫnmày</a>
    <a href='{{ "/tu/" | prepend: site.baseurl }}'>củahômnayyyyy</a>
    <a href='{{ "/tu/" | prepend: site.baseurl }}'>taolàmgì</a>
    <a href='{{ "/tu/" | prepend: site.baseurl }}'>taolà<span class="bold">or!!!!!</span></a>
  </nav>
</section>
<div class="separator hidden-md">
  {% include_relative /assets/svg/header_separator.svg %}
</div>
