---
layout: default
permalink: /wh/
title: Làm gì - The Or!
headerMessage: >
  Làm gì mình thích, hoặc, chán chết!
footerMessage: >
  &quot;Nói không bận tâm, thực bận tâm.&quot;
headerBackgroundColor: eab400
headerLogoBorderColor: 222222
footerFloatColor: 222
footerBackgroundColor: ccc
---

<section class="content-container">
  <div class="decoration wh" style="border-color: #{{ page.footerFloatColor }}">
    <div class="dock">
      {% include_relative /assets/svg/room_me_on_board.svg %}
    </div>
  </div>
  <article class="content">
    <h1 class="mono-robo">"Or!!!!!" làm gì?</h1>
    <p>Rõ ràng xem ở đây người ta làm cái gì.</p>
    <h4 class="mono-robo">"Blog" tạo cảm hứng, hoặc, dở người...</h4>
    <p>Từ cách bố cục, màu sắc, hình khối... "Or!!!!!" luôn muốn tạo cảm hứng cho bạn làm công việc sáng tạo.
      Như việc đôi khi bạn thấy màu sắc hơi... hâm hấp là bình thường tại đây.</p>
    <h4 class="mono-robo">Hướng dẫn làm website sáng tạo, hoặc, te tua</h4>
    <p>Bên cạnh việc tạo ra những bài viết hướng dẫn hoàn thành các thành phần của một website từ cơ bản tới sáng tạo trong khuân khổ, "Or!!!!!" đôi lúc cũng muốn được nghịch ngợm.
    Sẽ là rất thường lệ chúng tôi sẽ có những bài viết, không phải hướng dẫn chi tiết, về những "tới hạn" mà cái gọi là "giải pháp vẫn còn đơn giản" làm được. <strong>Có thể nó đẹp,
      điên, ảo nhưng không có ứng dụng nhiều & hàn lâm</strong>.</p>
    <p class="quiet">(Giới hạn một số trình duyệt website.)</p>
    <h4 class="mono-robo">Làm website</h4>
    <p>Chúng tôi <strong>KHÔNG</strong> làm website đặt hàng, tất nhiên trong tương lai điều này có thể được đổi lại. Đến lúc đó, bạn sẽ ra yêu cầu, "Or!!!!!" thiết kế, đưa ra giải pháp, bạn chấp nhận,... và chúng tôi làm - tóm tắt đơn giản là như vậy. Tại đây chúng tôi chỉ nói ở mức độ giới thiệu. Quy trình luôn công khai, chi tiết, và thay đổi!</p>
  </article>
</section>
<section class="footer-message" style="background-color: #{{ page.footerBackgroundColor }};">
  {% include like-a-top.html %}
  <div class="content">
    <div class="piece">
      <h4 class="mono-robo"><a href="/whi/">Là gì</a></h4>
      <p>&quot;Blog&quot; thiết kế &amp; phát triển website! Ở đây chúng tôi nói chuyện sôi nổi về website, thiết kế nó, chia sẻ, và uống cafe!</p>
    </div>
  </div>
</section>
