---
layout: default
permalink: /whi/
title: Là gì - The Or!
headerMessage: >
  &quot;Blog&quot; thiết kế &amp; phát triển website!
  <br />Ở đây chúng tôi nói chuyện sôi nổi về website, thiết kế nó, chia sẻ, và uống cafe!
footerMessage: Làm, hoặc không!
headerBackgroundColor: d4145a
footerFloatColor: 6e1d6b
footerBackgroundColor: cccccc
---

<section class="content-container">
  <div class="decoration whi" style="border-color:#{{ page.footerFloatColor }}">
    <div class="dock">
      {% include_relative /assets/svg/night_me_on_flower.svg %}
    </div>
  </div>
  <article class="content">
    <h1>"Or!!!!!" là gì?</h1>
    <p>“Or!!!!!” (đọc là “o”, “ò” hoặc “ó” tùy bạn) là một “blog” về thiết kế,
      phát triển và xây dựng website sáng tạo bằng tiếng Việt Nam, của người Việt Nam.
      “Or!!!!!” muốn được tạo cảm hứng cho bạn - các lập trình viên, thiết kế
      viên[, hoặc không có ai cũng kệ]... qua những bài viết, bài hướng dẫn được
      cập nhật và sử dụng những xu hướng, kỹ thuật mới.</p>
    <h4>"Or!!!!!" khởi nguồn</h4>
    <p>Khởi nguồn là sự tập tọe, nghịch ngợm của vài người đam mê cái sự cực đẹp hoặc với
      lập trình, và đã đủ khả năng "bê" một website từ trong đầu ra ngoài màn
      hình. "Or!!!!!" muốn chia sẻ và ti toe, những gì đã tìm hiểu được cho những
      người thích tự học cách làm website.</p>
    <h4>"Or!!!!!" hoặc</h4>
    <p>Những thành viên của “Or!!!!!” có một câu nói chung: “Làm, hoặc không!”.
      Đã làm gì thì sẽ làm tới - không có chuyện làm lún phún, lời phời. Đằng
      ấy thì sao? Muốn “join” không? “Or!!!!!” luôn hoan nghênh đó!</p>
  </article>
</section>
<section class="footer-message" style="background-color: #{{ page.footerBackgroundColor }};">
  {% include like-a-top.html %}
  <div class="content">
    <div class="piece">
      <h4>Phá</h4>
      <p>Làm việc theo cảm hứng, thấy thích thì làm, thấy vui thì làm... là thích - nhưng phá. Đều tốt cả, tự cân bằng nhé!</p>
    </div>
  </div>
</section>
