<footer class="main-bottom default">
  <section class="decoration hidden-md" style="border-top: solid 30px #{{ page.footerFloatColor }}"></section>
  <section class="content">
    <div>
      <h5><a href="/th/" class="disable-text" title="Cảm ơn">Cảm ơn</a></h5>
      <h5><a href="/pr/" class="disable-text" title="Bảo mật">Bảo mật</a></h5>
      <h5><a href="/li/" class="disable-text" title="Điều khoản">Điều khoản</a></h5>
    </div>
    <div>
      <h5><a href="/fe/" class="disable-text" title="Gửi phản hồi">Gửi phản hồi</a></h5>
      <h5><a href="/co/" class="disable-text" title="Liên hệ">Liên hệ</a></h5>
      <h5><a href="/ad/" class="disable-text" title="Quảng cáo">Quảng cáo</a></h5>
    </div>
    <div>
      <h5 title="Mạng xã hội"><strong>Mạng xã hội</strong></h5>
      <h6 class="quiet disable-text" title="Facebook">Facebook</h6>
      <h6 class="quiet disable-text" title="Twitter">Twitter</h6>
      <h6 class="quiet disable-text" title="Google+">Google+</h6>
    </div>
    <div>
      <h5>
        <a href="/">
          <span class="logo-tiny-dark">
            <span class="logo">{% include_relative /assets/svg/logo-tiny-dark.svg %}</span>
            <strong>Or!!!!!</strong>
          </span>
        </a>
      </h5>
      <div>
        <h6 class="quiet">2015 Sáng tạo</h6>
        <h6 class="quiet">Máy chủ GitHub</h6>
      </div>
    </div>
  </section>
</footer>
