<header class="main-bottom tu" style="position: relative; height: 300px; border-bottom: solid 8px #222; display: flex; align-items: flex-end; justify-content: space-around;">
  <section class="logo" style="margin-bottom: -30px;">
    <a href="/" class="wrapper" style="display:block; width: 120px; height: 120px; border: solid 8px #222;">{% include_relative /assets/svg/logo-color.svg %}</a>
  </section>
  <section class="categories" style="margin-bottom: -30px;">
    <div class="super-category" style="margin-bottom: 5px;">
      <h1 class="title mono-robo" style="margin: 0">Tập tọe</h1>
      <h5 class="subtitle quiet">Hướng dẫn Thiết kế & Xây dựng Website</h5>
    </div>
    <div class="categories" style="display: flex;">
      <a href="#" style="margin: 0 20px 0 0; padding: 15px 15px; color: white; text-decoration: none; font-weight: 700; font-size: 18px; background-color: #d4145a">Dễ ợt</a>
      <a href="#" style="margin: 0 20px; padding: 15px 15px; color: white; text-decoration: none; font-weight: 700; font-size: 18px; background-color: #eab400">Pure CSS</a>
      <a href="#" style="margin: 0 20px; padding: 15px 15px; color: white; text-decoration: none; font-weight: 700; font-size: 18px; background-color: #222222">Khó</a>
      <a href="#" style="margin: 0 0 0 20px; padding: 15px 15px; color: white; text-decoration: none; font-weight: 700; font-size: 18px; background-color: #93278f">Nghịch ngợm</a>
    </div>
  </section>
  <section class="black-board hidden-lg" style="margin-bottom: -30px;">
    <div class="wrapper">
      <div class="board" style="width: 400px; height: 247px; background-color: white; border: solid 8px #222;">
      </div>
    </div>
  </section>
</header>
