<header class="main-top tu">
  <section class="logo hidden-sm">
    <a href="/" class="wrapper">{% include_relative /assets/svg/logo-color.svg %}</a>
  </section>
  <section class="categories-container">
    <div class="super-category">
      <h1 class="title mono-robo">Tập tọe</h1>
      <h5 class="subtitle quiet">Hướng dẫn Thiết kế & Xây dựng Website</h5>
    </div>
    <div class="categories">
      <a class="item" href="#" style="background-color: #d4145a">Dễ ợt</a>
      <a class="item" href="#" style="background-color: #eab400">Pure CSS</a>
      <a class="item" href="#" style="background-color: #222222">Khó</a>
      <a class="item" href="#" style="background-color: #93278f">Nghịch ngợm</a>
    </div>
  </section>
  <section class="black-board hidden-lg">
    <div class="wrapper">
      <div class="board">
        <h3><a href="http://natureofcode.com/" title="The nature of code" target="_blank">THE <strong>NATURE</strong> OF CODE</a></h3>
        <p>DANIEL SHIFFMAN</p>
      </div>
    </div>
  </section>
</header>
