<section class="hard">
  <div class="wrapper-temp">
    <div class="group group-vertical-multi">
      <div class="item vertical-big">
        <div class="wrapper">
          <a href="#" class="decoration">
            <img src="/assets/img/tutorial/thumbnail/grid/hard/151124-vertical-big-shapes.png" title="Hướng dẫn làm hiệu ứng Parallax từ đơn giản" alt="Hướng dẫn làm hiệu ứng Parallax từ đơn giản" />
          </a>
          <section class='literal'>
            <h5 class="mono-robo"><a class="disable-text" href="#" title="Hướng dẫn bố cục phần tử toàn màn hình"><strong>LOẠT HIỆU ỨNG "PARALLAX" - HƯỚNG DẪN HIỆU ỨNG "PARALLAX" ĐƠN GIẢN</strong></a></h5>
            <p class="quiet">loại <strong>Pure-CSS</strong>, <strong>Hung tợn</strong></p>
            <p class="short-description">Hướng dẫn làm hiệu ứng thị giác "<a href="https://en.wikipedia.org/wiki/Parallax" title="Parallax" target="_blank"><strong><em>parallax</em></strong></a>" cơ bản chỉ với CSS3. Bạn sẽ biết thế nào là "parallax", cách tạo hiệu ứng này và được tổng hợp một chút về xu hướng "parallax" hiện tại của thế giới website 2016.</p>
            <section class="continue">
              <a class="continue-item box hidden-sm disable-text" href="#">chi tiết</a>
              <a class="continue-item box disable-text" href="#" title="Xem bản thử của bài hướng dẫn thiết kể website">xem thử</a>
            </section>
            <p class="hidden-sm quiet">Thứ Ba, ngày 24 tháng 11 năm 2015</p>
          </section>
        </div>
      </div>
      <div class="item vertical-big vertical-x-big">
        <div class="wrapper">
          <a href="#" class="decoration">
            <img src="/assets/img/tutorial/thumbnail/grid/hard/151124-vertical-big-baby.jpg" title="Tập hiệu ứng hình khối với trạng giả :hover" alt="Tập hiệu ứng hình khối với trạng giả :hover" />
          </a>
          <section class='literal'>
            <h5 class="mono-robo"><a class="disable-text" href="#" title="Tập hiệu ứng hình khối với trạng giả :hover"><strong>TẬP HIỆU ỨNG HÌNH KHỐI VỚI TRẠNG GIẢ ":hover"</strong></a></h5>
            <p class="quiet">loại <strong>Pure-CSS</strong>, <strong>Hung tợn</strong></p>
            <p class="short-description">Bài hướng dẫn này bạn sẽ được học cách tạo hiệu ứng khi trỏ chuột qua một hình khối bằng cách sử dụng SVG để tạo hình và thư viện JavaScript Snap.svg - không bắt buộc - để thực hiện hiệu ứng.</p>

            <section class="continue">
              <a class="continue-item box hidden-sm disable-text" href="#">chi tiết</a>
              <a class="continue-item box disable-text" href="#" title="Xem bản thử của bài hướng dẫn thiết kể website">xem thử</a>
            </section>
            <p class="hidden-sm quiet">Thứ Ba, ngày 24 tháng 11 năm 2015</p>
          </section>
        </div>
      </div>
    </div>

    <div class="group group-mixed-multi">
      <div class="group huge"  style="background-image: url('/assets/img/tutorial/thumbnail/grid/hard/151124-vertical-huge-spe.jpg');">
        <div class="horizontal-multi">
          <div class="item horizontal-small">
            <div class="wrapper">
              <a href="#" class="decoration">
                <img src="/assets/img/tutorial/thumbnail/grid/hard/151124-horizontal-small-icons.jpg" title="" alt="" />
              </a>
              <div class="literal">
                <h5 class="mono-robo"><a href="#" class="disable-text"><strong>TẬP HIỆU ỨNG CHO BIỂU TƯỢNG VỚI TRẠNG GIẢ ":hover"</strong></a></h5>
                <p class="hidden-sm quiet">ngày 24 tháng 11 năm 2015</p>
              </div>
            </div>
          </div>
          <div class="item horizontal-small">
            <div class="wrapper">
              <a href="#" class="decoration">
                <img src="/assets/img/tutorial/thumbnail/grid/hard/151124-horizontal-small-progress-effect.jpg" title="" alt="" />
              </a>
              <div class="literal">
                <h5 class="mono-robo"><a href="#" class="disable-text"><strong>HIỆU ỨNG ĐỘNG CHO HIỂN THỊ TRẠNG THÁI TIẾN TRÌNH</strong></a></h5>
                <p class="hidden-sm quiet">ngày 24 tháng 11 năm 2015</p>
              </div>
            </div>
          </div>
          <div class="item horizontal-small">
            <div class="wrapper">
              <a href="#" class="decoration">
                <img src="/assets/img/tutorial/thumbnail/grid/hard/151124-horizontal-small-minimal-form.jpg" title="" alt="" />
              </a>
              <div class="literal">
                <h5 class="mono-robo"><a href="#" class="disable-text"><strong>MỘT CÁCH LÀM GỌN GÀNG "FORM" NHẬP LIỆU</strong></a></h5>
                <p class="hidden-sm quiet">ngày 24 tháng 11 năm 2015</p>
              </div>
            </div></div>
        </div>
      </div>

      <div class="group tiny">
        <div class="horizontal-multi">
          <div class="item horizontal-medium"></div>
          <div class="item horizontal-medium last"></div>
        </div>
      </div>
    </div>
  </div>
</section>
