<section class="basic">
  <div class="wrapper">
    <div class="item horizontal-medium">
      <div class="wrapper">
        <h5 class="mono-robo"><a class="disable-text" href="#" title="Hướng dẫn trình bày nội dung theo sự kiện người dùng sử dụng thanh cuộn"><strong>LOẠT BÀI HIỆU ỨNG "PARALLAX" - ĐỂ CÓ MỘT THANH CUỘN MỀM MẠI</strong></a></h5>
        <p class="quiet">loại <strong>Nâng cao</strong></p>
        <section class="short-description">
          <a href="#" class="decoration">
            <img src="/assets/img/tutorial/thumbnail/grid/basic/151124-horizontal-medium-parallax.jpg" title="Hướng dẫn trình bày nội dung theo sự kiện người dùng sử dụng thanh cuộn" alt="Hướng dẫn trình bày nội dung theo sự kiện người dùng sử dụng thanh cuộn" />
          </a>
          <div class="literal">
            <p>Trình bày nội dung bằng việc bắt sự kiện "onscroll" bằng JavaScript & xác định khi nào phần tử nội dung nằm trong vùng hiển thị của trình duyệt.</p>
            <section class="continue">
              <a class="continue-item plain hidden-sm disable-text" href="#">chi tiết</a>
              <a class="continue-item plain disable-text" href="#" title="Xem bản thử của bài hướng dẫn thiết kể website">xem thử</a>
            </section>
          </div>
        </section>
        <p class="hidden-sm quiet">Thứ Bảy, ngày 21 tháng 11 năm 2015</p>
      </div>
    </div>
    <div class="item horizontal-medium hidden-sm"></div>
    <div class="item horizontal-medium last"></div>
  </div>
</section>
