<section class="hard">
  <div class="wrapper">
    <div class="main main-top">
      <div class="group">
        <div class="item vertical-big"></div>
        <div class="horizontal-multi">
          <div class="item horizontal-small"></div>
          <div class="item horizontal-small"></div>
          <div class="item horizontal-small"></div>
        </div>
      </div>
      <div class="item vertical-big-part hidden-lg"></div>
    </div>
    <div class="main main-bottom">
      <div class="item horizontal-gigantic">

      </div>
    </div>
  </div>
</section>
