<section class="category elf">
  <div class="wrapper">
    <div class="item horizontal-big">
      <div class="wrapper">
        <a href="/tu/pur/dem/bo-cuc-tieu-de-trang-toan-man-hinh-voi-hieu-ung-truot-151116" class="decoration">
          <img src="/assets/img/tutorial/thumbnail/grid/elf/horizontal-big-foots-color-151117.png" title="Bố cục tiêu đề trang với hiệu ứng trượt" alt="Bố cục tiêu đề trang với hiệu ứng trượt" />
        </a>
        <section class="literal">
          <h4 class="mono-robo"><a href="/tu/pur/dem/bo-cuc-tieu-de-trang-toan-man-hinh-voi-hieu-ung-truot-151116">BỐ CỤC TIÊU ĐỀ TRANG VỚI HIỆU ỨNG TRƯỢT</a></h4>
          <p class="quiet">loại <strong>Pure-CSS</strong></p>
          <p class="short-description">Hướng dẫn bố cục tiêu đề trang với kích
          thước toàn màn hình, có thể trượt lên
          trên làm hiện nội dung bên
          dưới.</p>
          <section class="continue">
            <a class="continue-item box hidden-sm disable-text" href="#">chi tiết</a>
            <a class="continue-item box" href="/tu/pur/dem/bo-cuc-tieu-de-trang-toan-man-hinh-voi-hieu-ung-truot-151116" title="Xem bản thử của bài hướng dẫn thiết kế website">xem thử</a>
          </section>
          <p class="hidden-sm quiet">Thứ Hai, ngày 17 tháng 11 năm 2015</p>
        </section>
      </div>
    </div>
    <div class="group">
      <div class="item vertical-medium">
        <div class="wrapper">
          <a class="decoration" href="/tu/pur/dem/hieu-ung-chuyen-huong-chong-trang-151119">
            <img src="/assets/img/tutorial/thumbnail/grid/elf/vertical-medium-leafs-color-151118.png" title="Hướng dẫn làm bản mẫu hiệu ứng chuyển hướng chồng trang" alt="Hiệu ứng chuyển hướng chồng trang" />
          </a>
          <section class='literal'>
            <h5 class="mono-robo"><a href="/tu/pur/dem/hieu-ung-chuyen-huong-chong-trang-151119" title="Hiệu ứng chuyển hướng chồng trang"><strong>HIỆU ỨNG CHUYỂN HƯỚNG CHỒNG TRANG</strong></a></h5>
            <p class="quiet">loại <strong>Nâng cao</strong>, <strong>Pure CSS</strong></p>
            <p class="short-description">Ý tưởng là hiển thị các phần tử chuyển hướng theo cách xếp chồng<span class="hidden-sm"> lên nhau, tạo hiệu ứng chiều sâu cho thị giác</span>.</p>
            <section class="continue">
              <a class="continue-item plain hidden-sm disable-text" href="#"><strong>chi tiết</strong></a>
              <a class="continue-item plain" href="/tu/pur/dem/hieu-ung-chuyen-huong-chong-trang-151119" title="Xem bản thử của bài hướng dẫn thiết kể website"><strong>xem thử</strong></a>
            </section>
            <p class="hidden-sm quiet">ngày 17 tháng 11 năm 2015</p>
          </section>
        </div>
      </div>
      <div class="horizontal-multi">
        <div class="item horizontal-small" style="background-color: #93278f">
          <div class="wrapper">
            <h4 class="mono-robo">interact.js</h4>
            <p>Thư viện JavaScript cho hành động
                kéo và thả<span class="hidden-sm">, thay đổi kích thước phẩn tử
                và sự kiện đa cảm ứng với hiệu ứng
                quán tính và bám hút cho các trình
                duyệt website hiện đại</span>.</p>
            <p><a href="http://interactjs.io/" target="_blank" title="interact.js"><strong>tiếp tục</strong></a></p>
          </div>
        </div>
        <div class="item horizontal-small" style="background-color: #00a99d">
          <div class="wrapper">
            <h4 class="mono-robo">Masonry</h4>
            <p>Thư viện JavaScript hỗ trợ bố cục lưới.
              <span class="hidden-sm">Nó giúp đặt các phần tử vào vị trí tối
              ưu nhất theo trục dọc giống như cách
              xếp gạch trên một bức tường.</span></p>
            <p><a href="http://masonry.desandro.com/" target="_blank" title="Masonry"><strong>tiếp tục</strong></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
