<section class="category pure-css">
  <div class="wrapper">
    <div class="group">
      <div class="horizontal-multi">
        <div class="item horizontal-medium">
          <div class="wrapper">
            <h5 class="mono-robo"><a class="disable-text" href="#" title="Hiệu ứng chuyển hướng chồng trang"><strong>BỐ CỤC & HIỆU ỨNG CHO THỦ TỤC "CHECKOUT"</strong></a></h5>
            <p class="quiet">loại <strong>Pure-CSS</strong>, <strong>Thương mại</strong></p>
            <section class="short-description">
              <a href="#" class="decoration">
                <img src="/assets/img/tutorial/thumbnail/grid/pure/horizontal-medium-checkout-151121.png" title="Hướng dẫn bố cục và hiệu ứng cho thủ tục Checkout hàng hóa" alt="Hướng dẫn bố cục và hiệu ứng cho thủ tục Checkout hàng hóa" />
              </a>
              <div class="literal">
                <p>Hướng dẫn bố cục và trình diễn hiệu ứng cho thủ tục "Checkout" hàng hóa với website thương mại điện tử.</p>
                <section class="continue">
                  <a class="continue-item plain hidden-sm disable-text" href="#">chi tiết</a>
                  <a class="continue-item plain disable-text" href="#" title="Xem bản thử của bài hướng dẫn thiết kể website">xem thử</a>
                </section>
              </div>
            </section>
            <p class="hidden-sm quiet">Thứ Bảy, ngày 21 tháng 11 năm 2015</p>
          </div>
        </div>
        <div class="item horizontal-medium">
          <div class="wrapper">
            <h5 class="mono-robo"><a class="disable-text" href="#" title="Hướng dẫn làm hiệu ứng động cho khung ảnh chỉ bằng CSS3"><strong>HIỆU ỨNG ĐỘNG CHO KHUNG ẢNH</strong></a></h5>
            <p class="quiet">loại <strong>Pure-CSS</strong></p>
            <section class="short-description">
              <a href="#" class="decoration">
                <img src="/assets/img/tutorial/thumbnail/grid/pure/horizontal-medium-leafs-color-151121.png" title="Hướng dẫn làm hiệu ứng động cho khung ảnh chỉ bằng CSS3" alt="Hướng dẫn làm hiệu ứng động cho khung ảnh chỉ bằng CSS3" />
              </a>
              <div class="literal">
                <p>Hướng dẫn làm hiệu ứng động cho khung ảnh khi người dùng làm động tác trỏ chuột qua ảnh chỉ bằng CSS.</p>
                <section class="continue">
                  <a class="continue-item plain hidden-sm disable-text" href="#">chi tiết</a>
                  <a class="continue-item plain disable-text" href="#" title="Xem bản thử của bài hướng dẫn thiết kể website">xem thử</a>
                </section>
              </div>
            </section>
            <p class="hidden-sm quiet">Thứ Bảy, ngày 21 tháng 11 năm 2015</p>
          </div>
        </div>
      </div>
      <div class="horizontal-multi">
        <div class="item horizontal-medium">
          <div class="wrapper">
            <h5 class="mono-robo"><a class="disable-text" href="#" title="Hướng dẫn trình bày nội dung theo sự kiện người dùng sử dụng thanh cuộn"><strong>"ON-SCROLL": MỆT NHOÀI VỚI THANH CUỘN</strong></a></h5>
            <p class="quiet">loại <strong>Nâng cao</strong></p>
            <section class="short-description">
              <a href="#" class="decoration">
                <img src="/assets/img/tutorial/thumbnail/grid/pure/horizontal-medium-line-151121.png" title="Hướng dẫn trình bày nội dung theo sự kiện người dùng sử dụng thanh cuộn" alt="Hướng dẫn trình bày nội dung theo sự kiện người dùng sử dụng thanh cuộn" />
              </a>
              <div class="literal">
                <p>Trình bày nội dung bằng việc bắt sự kiện "onscroll" bằng JavaScript & xác định khi nào phần tử nội dung nằm trong vùng hiển thị của trình duyệt.</p>
                <section class="continue">
                  <a class="continue-item plain hidden-sm disable-text" href="#">chi tiết</a>
                  <a class="continue-item plain disable-text" href="#" title="Xem bản thử của bài hướng dẫn thiết kể website">xem thử</a>
                </section>
              </div>
            </section>
            <p class="hidden-sm quiet">Thứ Bảy, ngày 21 tháng 11 năm 2015</p>
          </div>
        </div>
        <div class="item horizontal-medium">
          <div class="wrapper">
            <h5 class="mono-robo"><a class="disable-text" href="#" title="Hiệu ứng bứt lò xo"><strong>HIỆU ỨNG "LÒ XO"</strong></a></h5>
            <p class="quiet">loại <strong>Nghịch ngợm</strong></p>
            <section class="short-description">
              <a href="#" class="decoration">
                <img src="/assets/img/tutorial/thumbnail/grid/pure/horizontal-medium-mabu-151121.png" title="Hướng dẫn làm hiệu ứng bứt lò xo" alt="Hướng dẫn làm hiệu ứng bứt lò xo" />
              </a>
              <div class="literal">
                <p>Hướng dẫn làm hiệu ứng chuyển ảnh mô phỏng sự nảy bật của một chiếc lò xo trong tự nhiên.</p>
                <section class="continue">
                  <a class="continue-item plain hidden-sm disable-text" href="#">chi tiết</a>
                  <a class="continue-item plain disable-text" href="#" title="Xem bản thử của bài hướng dẫn thiết kể website">xem thử</a>
                </section>
              </div>
            </section>
            <p class="hidden-sm quiet">Thứ Bảy, ngày 21 tháng 11 năm 2015</p>
          </div>
        </div>
      </div>
    </div>
    <div class="item vertical-big">
      <div class="wrapper">
        <a href="#" class="decoration">
          <img src="/assets/img/tutorial/thumbnail/grid/pure/vertical-big-stroller-color-151121.png" title="Hướng dẫn bố cục phần tử toàn màn hình" alt="Hướng dẫn bố cục phần tử toàn màn hình" />
        </a>
        <section class='literal'>
          <h5 class="mono-robo"><a class="disable-text" href="#" title="Hướng dẫn bố cục phần tử toàn màn hình"><strong>BỐ CỤC PHẦN TỬ TOÀN MÀN HÌNH</strong></a></h5>
          <p class="quiet">loại <strong>Dễ ợt</strong></p>
          <p class="short-description">Ý tưởng là phần tử nội dung có kích thước chiều cao bằng chiều cao vùng màn hình hiển thị nếu chiều cao màn hình hiển thị lớn hơn chiều cao phần tử ấy.</p>
          <section class="continue">
            <a class="continue-item plain hidden-sm disable-text" href="#">chi tiết</a>
            <a class="continue-item plain disable-text" href="#" title="Xem bản thử của bài hướng dẫn thiết kể website">xem thử</a>
          </section>
          <p class="hidden-sm quiet">Thứ Bảy, ngày 21 tháng 11 năm 2015</p>
        </section>
      </div>
    </div>
  </div>
</section>
