<section class="hard" style="margin-top: 30px;">
  <div class="wrapper">
    <div class="main main-top" style="display: flex; justify-content: center;">
      <div class="group" style="display: flex; margin-right: 30px;">
        <div class="vertical-big" style="width:390px; height: 623px; border: solid 8px #222; margin-right: 30px;"></div>
        <div class="horizontal-multi" style="display: flex; flex-flow: column nowrap; height: 623px; justify-content: space-between;">
          <div class="horizontal-small" style="border: solid 8px #222; width: 290px; height: 179px;"></div>
          <div class="horizontal-small" style="border: solid 8px #222; width: 290px; height: 179px;"></div>
          <div class="horizontal-small" style="border: solid 8px #222; width: 290px; height: 179px;"></div>
        </div>
      </div>
      <div class="vertial-big part" style="border: solid 8px #222; border-bottom: none; width:486px; height: 661px; background-color: white; z-index: 1;"></div>
    </div>
    <div class="main main-bottom" style="display: flex; justify-content: center; margin-top: -8px;">
      <div class="horizontal-gigantic" style="width: 1227px; border: solid 8px #222; height: 767px;">

      </div>
    </div>
  </div>
</section>
