@mixin transition($type, $time, $delay) {
  -webkit-transition: $type $time ease-in-out $delay;
  -moz-transition: $type $time ease-in-out $delay;
  -ms-transition: $type $time ease-in-out $delay;
  transition: $type $time ease-in-out $delay;
}

/** Landing **/
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@include keyframes(WINDY_LANTERN) {
  0% {
    -webkit-transform: rotateZ(30deg);
    transform: rotateZ(30deg);
  };
  50% {
    -webkit-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
  };
  100% {
    -webkit-transform: rotateZ(30deg);
    transform: rotateZ(30deg);
  }
}

@include keyframes(WINDY) {
  0% {transform: rotateZ(0deg);};
  30% {transform: rotateZ(3deg);}
  50% {transform: rotateZ(6deg);}
  60% {transform: rotateZ(4deg);}
  75% {transform: rotateZ(6deg);}

  100% {transform: rotateZ(0deg);}
}

@include keyframes(FLICKER) {
  0% {opacity: 1; fill: #ffffff}
  25% {opacity: 1; fill: yellow}

  100% {opacity: 1; fill: #ffffff}
};

@include keyframes(RUNGRINK) {
  0% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  };
  30% {
    -webkit-transform: rotateZ(3deg);
    transform: rotateZ(3deg);
  }
  50% {
    -webkit-transform: rotateZ(6deg);
    transform: rotateZ(6deg);
  }
  60% {
    -webkit-transform: rotateZ(4deg);
    transform: rotateZ(4deg);
  }
  75% {
    -webkit-transform: rotateZ(6deg);
    transform: rotateZ(6deg);
  }

  100% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
}


@include keyframes(FADE_FADE) {
  0% {opacity: 1;}
  50% {opacity: .4;}
  100% {opacity: 1;}
};

@include keyframes(RO) {
  0% {transform: rotateZ(0deg)}
  50% {transform: rotateZ(360deg)}
  100% {transform: rotateZ(0deg)}
};

@mixin animation($name, $time, $iteration-count, $fillMode, $delay, $timing-function) {
  -webkit-animation: $name $time $iteration-count;
  -webkit-animation-delay: $delay;
  -webkit-animation-fill-mode: $fillMode;
  -webkit-animation-timing-function: $timing-function;
  -moz-animation: $name $time $iteration-count;
  -moz-animation-fill-mode: $fillMode;
  -moz-animation-delay: $delay;
  -moz-animation-timing-function: $timing-function;
  -ms-animation: $name $time $iteration-count;
  -ms-animation-fill-mode: $fillMode;
  -ms-animation-delay: $delay;
  -ms-animation-timing-function: $timing-function;
  animation: $name $time $iteration-count;
  animation-fill-mode: $fillMode;
  animation-delay: $delay;
  animation-timing-function: $timing-function;
}

#stroller-lantern {
  -webkit-transform-origin: 704px 715px;
  transform-origin: 704px 715px;
  cursor: pointer;
  @include animation(WINDY_LANTERN, 5s, infinite, none, 0s, ease);
}

#night-me-on-flower-flower {
  -webkit-transform-origin: 487px 652px;
  transform-origin: 487px 652px;
  @include transition(transform, 0.4s, 0s);
  cursor: pointer;
  &:hover {
    path {
      @include animation(FLICKER, 5s, infinite, none, 0s, ease);
    }
  }
  &:active {
    -webkit-transform: rotateZ(3deg);
    transform: rotateZ(3deg);
  }

}

#under-make-up {
  .hey {
    @include animation(FADE_FADE, 5s, infinite, none, 0s, ease);
  }
}

#reeds {
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  @include animation(WINDY, 10s, infinite, none, 0s, ease);
}

#reeds-brother-dark {
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  @include animation(WINDY, 15s, infinite, none, 0s, ease);
}

#reeds-older-brother-dark {
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  @include animation(WINDY, 20s, infinite, none, 0s, ease);
}

#reed_head {
  cursor: pointer;
  path {
    @include transition(opacity, .2s, 0s);
    &:hover {
      transition: none;
      transition-delay: 0s !important;
      opacity: 1 !important;
    }
    &:active {
      transition-delay: 0s !important;
      opacity: .3 !important;
    }
  }
  path.fast {
    transition-delay: .1s;
  }
  path.x-medium {
    transition-delay: .2s;
  }
  path.medium {
    transition-delay: .3s;
  }
  path.x-slow {
    transition-delay: .4s;
  }
  path.slow {
    transition-delay: .5s;
  }
  &:hover {
    path {
      opacity: .3;
    }
  }
}

#or_geom {
  .hide {
    opacity: 0;
  }
  &:hover {
    .hide {
      opacity: 1;
    }
  }
}

#or_o, #or_r, #or_i {
  path, circle, rect {
    @include transition(opacity, .2s, 0s);
    cursor: pointer;
    &:active {
      opacity: 0 !important;
    }
    &:hover {
      opacity: 0;
    }
    &.fast {
      @include transition(opacity, .2s, 0s);
    }
    &.medium {
      @include transition(opacity, .2s, .1s);
    }
    &.slow {
      @include transition(opacity, .2s, .2s);
    }
  }
}
