@media (max-width: $large-media-width) {
  .hidden-lg {
    display: none !important;
  }
  #landing {
    #landing-graph {
      width: 66px;
      height: 66px;
    }
    .content {
      nav {
        -webkit-flex-flow: column nowrap !important;
        flex-flow: column nowrap !important;
        section {
          margin: 0 !important;
          a {
            margin: 0 !important;
          }
        }
      }
    }
  }
  #tutorials {
    .the-grid {
      .elf {
        > .wrapper {
          -webkit-flex-flow: column nowrap;
          flex-flow: column nowrap;
          -webkit-align-items: center;
          align-items: center;
          .group {
            width: 635px;
            margin-top: 30px;
            -webkit-justify-content: space-between;
            justify-content: space-between;
          }
        }
        .item {
          &.horizontal-big {
            margin-right: 0 !important;
          }
        }
      }
      .pure-css {
        > .wrapper {
          -webkit-flex-flow: column nowrap;
          flex-flow: column nowrap;
          -webkit-align-items: center;
          align-items: center;
          .group {
            width: 635px;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            .horizontal-multi {
              margin-right: 0;
            }
          }
        }
        .item {
          &.horizontal-medium {
            width: 302.5px;
            height: 187px;
            margin-bottom: 30px;
          }
          &.vertical-big {
            width: 635px;
            height: 1027px;
          }
        }
      }
      .hard {
        > .wrapper {
          .main {
            width: auto;
            &.main-top {
              -webkit-flex-flow: column nowrap;
              flex-flow: column nowrap;
              -webkit-align-items: center;
              align-items: center;
              .group {
                margin-right: 0;
                margin-bottom: 30px;
                .horizontal-multi {
                  height: 561px;
                }
              }
            }
            &.main-bottom {
              margin-top: 0;
              -webkit-justify-content: center;
              justify-content: center;
            }
          }
        }
        .item {
          &.vertical-big {
            width: 347px;
            height: 561px;
          }
          &.horizontal-small {
            width: 258px;
            height: 159px;
          }
          &.horizontal-gigantic {
            width: 635px;
            height: 392px;
          }
        }
      }
      .basic {
        .item {
          &.horizontal-medium {
            width: 192px;
            height: 118px;
          }
        }
      }
    }
  }
}

@media (max-width: $medium-media-width) {
  .hidden-md {
    display: none !important;
  }
  .default-page {
    background-color: #f2f2f2 !important;
  }
  #default {
    > .content-container {
      -webkit-flex-flow: column nowrap !important;
      flex-flow: column nowrap !important;
      -webkit-align-items: center !important;
      align-items: center !important;
      > .decoration {
        width: 100% !important;
        &.whi {
          background-color: #6e1d6b !important;
        }
        &.wh {
          background-color: #333 !important;
        }
        .dock {
          margin: -10px auto 15px auto !important;
        }
        border-bottom: none !important;
      }
      > .content {
        width: 100% !important;
        padding: 5% !important;
      }
    }
    > .footer-message {
      .nav-container {
        box-shadow: 0 4px 8px rgba(0,0,0,.2);
      }
    }
  }

  #landing {
    #reeds {
      width: $landing-reeds-origin-width / 1.5 !important;
      height: $landing-reeds-origin-height / 1.5 !important;
    }
    #reeds-brother-dark {
      width: $landing-reeds-brother-dark-origin-width / 1.5 !important;
      height: $landing-reeds-brother-dark-origin-height / 1.5 !important;
    }
    #reeds-older-brother-dark {
      width: $landing-reeds-older-brother-dark-origin-width / 1.5 !important;
      height: $landing-reeds-older-brother-dark-origin-height / 1.5 !important;
    }
  }
}
@media (max-width: $small-media-width) {
  .hidden-sm {
    display: none !important;
  }
  #default {
    header.main-top {

    }
  }

  #tutorials {
    header.main-top.tu {
      section {
        &.categories-container {
          .categories {
            .item {
              margin: 0;
            }
          }
        }
      }
    }
    .the-grid {
      .elf {
        > .wrapper {
          .group {
            width: 450px;
            .horizontal-multi {
              width: 227px;
              height: 312px;
            }
          }
        }
        .item {
          &.horizontal-big {
            width: 450px;
            height: 278px;
            > .wrapper {
              > .decoration {
                img {
                  width: 196px;
                }
              }
              > .literal {
                width: 200px;
              }
            }
          }
          &.vertical-medium {
            width: 193px;
            height: 312px;
          }
          &.horizontal-small {
            width: 227px;
            height: 140px;
          }
        }
      }
      .pure-css {
        > .wrapper {
          .group {
            width: 450px;
          }
        }
        .item {
          &.horizontal-medium {
            width: 210px;
            height: 130px;
          }
          &.vertical-big {
            width: 450px;
            height: 728px;
          }
        }
      }
      .hard {
        > .wrapper {
          .main {
            &.main-top {
              .group {
                .horizontal-multi {
                  height: 404px;
                }
              }
            }
            &.main-bottom {

            }
          }
        }
        .item {
          &.vertical-big {
            width: 250px;
            height: 404px;
          }
          &.horizontal-small {
            width: 170px;
            height: 105px;
          }
          &.horizontal-gigantic {
            width: 450px;
            height: 278px;
          }
        }
      }
      .basic {
        .item {
          &.horizontal-medium {
            width: 210px;
            height: 130px;
          }
        }
      }
    }
  }

  #landing {
    > .decoration {
    }
    > .content {
      -webkit-flex-flow: column nowrap !important;
      flex-flow: column nowrap !important;
      > .decoration {
        -webkit-flex-flow: column nowrap !important;
        flex-flow: column nowrap !important;
        -webkit-align-items: center !important;
        align-items: center !important;
        margin-bottom: 15px !important;
        border: solid 4px #1a1a1a;
      }
      top: 5%;
      nav {
        -webkit-flex-flow: column nowrap !important;
        flex-flow: column nowrap !important;
        & > section {
          -webkit-flex-flow: column nowrap !important;
          flex-flow: column nowrap !important;
        }
      }
    }

    #reeds {
      width: 0 !important;
      height: 0 !important;
    }
    #reeds-brother-dark {
      width: $landing-reeds-brother-dark-origin-width / 2 !important;
      height: $landing-reeds-brother-dark-origin-height / 2 !important;
      opacity: .2;
    }
    #reeds-older-brother-dark {
      width: 0 !important;
      height: 0 !important;
    }
  }
}
@media (max-width: 480px) {
  .hidden-xs {
    display: none !important;
  }
  #landing {
    #reeds-brother-dark {
      width: 0 !important;
      height: 0 !important;
    }
  }
}
