$typo-base-size: 14px;
$typo-color: #333333;
$landing-link-color: #f2f2f2;
$landing-background-color: #d4145a;
$medium-media-width: 860px;
$landing-reeds-origin-width: 550.1px;
$landing-reeds-origin-height: 530.9px;
$landing-reeds-brother-dark-origin-width: 427.8px;
$landing-reeds-brother-dark-origin-height: 739.3px;
$landing-reeds-older-brother-dark-origin-width: 885px;
$landing-reeds-older-brother-dark-origin-height: 657px;
