// This is a partial.
// It lies in <source>/_sass, just waiting to be imported.
// It does not contain the YAML front matter and has no corresponding output file in the built site.

body {
  font-family: 'Roboto', sans-serif;
  font-size: $typo-base-size;
  font-weight: 400;
  color: $typo-color;
}

.mono-classic {
  font-family: 'Courier New', monospace;
}

.mono-robo {
  font-family: 'Roboto Mono', monospace;
}

code, pre {
  font-family: "Courier New", monospace;
}

.bold {
  font-weight: 700;
}
